* { margin: 0; padding: 0; border: 0; font-size: 100%; }
.heather{
    background-color: #8C8FA6;
    height: 65px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    text-align: center;
    font-size: xx-large;
    letter-spacing: 13px;
    padding-top: 19px;
}

body{
	background-image:
    	
}